<h1>
  kevinchartier.com
</h1>

<p>
  This will be a Node.js/<wbr>TypeScript/<wbr>React/<wbr>PostgreSQL server that I am building for learning purposes.
</p>

<p>
  All code and configuration for this project is <a href="https://gitlab.com/demo-for-steno" target="_blank">available 
  on GitLab</a>.
</p>

<p>
  The front end is React, served by <a href="https://nginx.com" target="_blank">NGINX</a>. The API server is
  <a href="https://nodejs.org/" target="_blank">Node.js</a> with source written in
  <a href="https://www.typescriptlang.org/" target="_blank">TypeScript</a>. NGINX is configured as a
  <a href="https://docs.nginx.com/nginx/admin-guide/web-server/reverse-proxy/" target="_blank">reverse proxy</a> 
  from Node.js to standard web ports. The SSL certificate is provided by 
  <a href="https://letsencrypt.org/" target="_blank">Let's Encrypt</a>.
</p>

<p>
  I have not yet incorporated <a href="https://www.postgresql.org/" target="_blank">PostgreSQL</a>.
</p>
